@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "mixin/_mixin.scss";

$black-color: rgba(0,0,0,.8);
$black-color-bg: #1f1f1f;
$green: #8fab30;

body {
  font-family: 'Roboto Condensed', Times new roman , serif;
}
a {
  @include transition(.3s);
  &:hover, &:visited, &:link {
    text-decoration: none;
  }
}
.green {
  color: $green;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: $black-color-bg;
  padding: 10px 95px;
  overflow: hidden;
  img {
    width: 50px;
  }
  a {
    display: block;
    margin: 7px 0;
    padding: 0 20px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    border: 1px solid $green;
    background: $green;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    i {
      padding-right: 15px;
      font-size: 15px!important;
    }
    &:hover  {
      background: rgba(143,171,48,.8);
      // color: $green;
      color: #fff;
    }
  }
}

section {
  padding-top: 150px;
  h1 {
    margin: 0 0 0;
    font-size: 60px;
  }
  h2 {
    margin:0 0 80px;
    color: $green;
  }
  .type-list {
    .row {
      margin-left: 40px;
      margin-right: 40px;
      h2 {
        text-transform: uppercase;
        margin: 0 0 80px;
        color: $black-color;
      }
      .demo-wrapper {
        padding: 0 40px;
        @include transition(.3s);
        @include transform(scale(1));
        .item {
          position: relative;
          display: block;
          width: 100%;
          background: url("images/imac-flat.png");
          img {
            position: relative;
            width: 100%;
            display: block;
          }
          .img-wrapper {
            position: absolute;
            background: transparent;
            top: 5%;
            left: 3%;
            width: 93%;
            height: 65%;
          }
        }
        .title {
          display: block;
          padding: 30px 0 30px;
          margin-bottom: 70px;
          font-size: 20px;
          text-transform: uppercase;
          color: $black-color-bg;
        }
        &:hover {
          @include transform(scale(1.1));
        }
      }
    }
  }
}

@include respondTo(smartPhoneDown) {
  header {
    padding-left: 25px;
    padding-right: 25px;
  }
  section {
    .type-list {
      .row {
        margin-left: 10px;
        margin-right: 10px;
        .demo-wrapper {
          padding: 0;
        }
      }
    }
  }
}
