$default-color: #8fab30;
$default-color-opacity: rgba(143,171,48,0.8);

::selection {
  background: $default-color;
}

#middle .middle .menu a:hover {
  color: $default-color;
}

.em {
  color: $default-color;
}

#contact-form div > div .btn-primary,
#subscribe-form > div button {
  background: $default-color;
  &:hover {
    background: $default-color-opacity;
  }
}

#social a:hover i {
  color: $default-color;
}

.contact-text h3{
  span {
    border-bottom: 1px solid $default-color;
  }
}
