::selection {
  background: #a19a8f;
}

#middle .middle .menu a:hover {
  color: #a19a8f;
}

.em {
  color: #a19a8f;
}

#contact-form div > div .btn-primary,
#subscribe-form > div button {
  background: #a19a8f;
}

#contact-form div > div .btn-primary:hover,
#subscribe-form > div button:hover {
  background: rgba(161, 154, 143, 0.8);
}

#social a:hover i {
  color: #a19a8f;
}

.contact-text h3 span {
  border-bottom: 1px solid #a19a8f;
}
